<div class="section">
    <div class="w3-container">
        
<div class="zandi">
    
        <h5> Hello Zandi Nyathi</h5>
        </div>
        
        
       
        
        <div class="details">
           <P> Full Name:</P>
           <P>Mobile No:</P> 
        </div>
       
        
        
        <h2> MY JOBS</h2>
       <div class="row">

        <small style="margin-bottom:10px">DEVELOPER PROGRAME</small> 
        
        <small style="float: right;">2 days ago</small>
    
      
    </div> 

        <small> 4 months- full time</small>
       
       <br>
       <br>
       
       
           <small>Lorem ipsum dolor sit amet. Et omnis error vel totam error cum explicabo expedita eum optio consectetur! Est reprehenderit doloremque qui facilis voluptatem aut obcaecati quia aut sunt dolorem et sunt consequuntur quo animi omnis non distinctio molestiae! </small>
       
       
       
       <br>
       <br>
       <small>applied 2 todays ago</small>
       
       </div>

</div>



 